#menu-toggle:checked + #menu {
      display: block;
}


#homeGallery::-webkit-scrollbar {
      display: none;
}

#homeJournal::-webkit-scrollbar {
      display: none;
}

#homeJournal-1::-webkit-scrollbar {
      display: none;
}

.theText::-webkit-scrollbar {
      display: none;
}
